body {
  background: #2980b9;
  font: 400 13px/1 'Open Sans', sans-serif;
}

/*
#app {
  background: #384964;
  position: absolute;
  top: 0; bottom: 0; right; 0; left: 0;
  width: 100%;
}

#app.theme-blue {
  background: #2980b9;
}

#app.theme-red {
  background: #c0392b;
}
*/


/* ---------- DOCK ---------- */

.dock {
  background: linear-gradient(to top, rgba(255, 255 , 255, 0.1) 0, rgba(255, 255, 255, 0) 40px);
  bottom: 0; left: 0; right: 0;
  margin: 0;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.dock-app {
  cursor: default;
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  transition: transform .1s ease;
  width: 100px;
}

.dock-app:hover {
  transform: scale(1.2);
}

.dock-app-title {
  color: #fff;
  font-weight: 600;
  padding-top: 5px;
}


/* ---------- ICONS ---------- */

.icon {
  fill: #fff;
  vertical-align: middle;
}

.icon-large {
  height: 30px;
  width: 30px;
}

.icon-small {
  height: 15px;
  width: 15px;
}


/* ---------- APP WINDOWS ---------- */

.app-window {
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
  position: fixed;
  width: 360px;
}

.app-window.active {
  box-shadow: 0 1px 15px rgba(0, 0, 0, .4);
}

.app-header {
  background: #394959;
  color: #fff;
  padding: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.active .app-header {
  background: #22252c;
}

.app-title {
  padding-left: 10px;
}

.app-close {
  float: right;
}

/* ---------- UTIL ---------- */

.block {
  display: block;
}
